{% comment %}theme-check-disable TemplateLength{% endcomment %}
{% comment %}theme-check-disable RemoteAsset{% endcomment %}
<style>
  .icon-active {
    color: red;
  }
</style>

<div class="menu-bg js-menu-overlay"></div>
<div class="search-overlay"></div>
<header class="header js-header container-fluid{% if settings.enable_sticky_headerr == "three" %} perma-sticky-mobile{% endif %}{% if settings.enable_sticky_headerr == "two" or settings.enable_sticky_headerr == "one" %} perma-sticky js-header-mini-sticky{% endif %}">
  {% if settings.enable_topcbar %}
    {% if settings.coupan != '' %}
      <div class="row top_bar_save no-gutters js-top-bar-save">
        <div class="container">
          <p class="coupon-text">
            Coupon Code: <span id="coupan_code_copy">{{ settings.coupan }}</span>
            <span class="button_copy_code">Copy Code</span>
          </p>
        </div>
        <div class="close-btn js-top-bar-save-close"><span class="fas fa-times"></span></div>
      </div>
    {% endif %}
  {% endif %}
  <div class="row top_bar no-gutters {% if settings.enable_sticky_headerr == "two" %}no-border-sticky js-hide-when-scroll{% endif %}">
    <div class="container header-strip">
      {% if settings.enable_header_fb_page and settings.header_fb_page_url != blank %}
        <div class="fblikebar">
          <div class="cbha">
            <div id="fb-root"></div>
            <div
              class="fb-like"
              data-href="{{ settings.header_fb_page_url }}"
              data-layout="button_count"
              data-action="like"
              data-size="small"
              data-show-faces="false"
              data-share="true"
            ></div>
          </div>
        </div>
      {% endif %}
      {% if settings.enable_strip_text %}
        {%- liquid
          assign product_motivator_text = settings.strip_text
          assign strip_display_user_country = settings.strip_display_user_country
          assign free_shipping_text = settings.free_shipping_text_free_cart_page
        -%}
        <div
          class="shipping_bar js-product-motivator-text"
          data-motivator-text="{{ product_motivator_text }}"
          data-free-shipping-text="{{ free_shipping_text }}"
        >
          {% if settings.strip_url != blank %}
            <a style="color: inherit;" class="free_shipping_top_strip" href="{{ settings.strip_url }}"
              ><span class="js-product-motivator-text-main"></span
            ></a>
          {% else %}
            <span class="js-product-motivator-text-main"></span>
          {% endif %}
          {% if strip_display_user_country %}
            <span class="js-country-name js-product-motivator-text-country product-motivator-text__country"></span>
            <span class="js-country-flag js-product-motivator-text-flag product-motivator-text__flag"></span>
          {% endif %}
        </div>
      {% endif %}
      <nav class="main-nav topnav">
        <div class="info-desc">
          <span class="info-email">
            <li class="phone-number">
              <img src="https://cdn.shopify.com/s/files/1/0652/6982/5751/files/icon-user.png?v=1671626594" class="customer-support-icon" />
              Need Assistance?:
              <a href="https://www.americangiftsandbaskets.com/pages/contact"><u>Create a Ticket</u></a
              >&nbsp;|&nbsp;<a onclick="toggleshow()" class="chat"><u>Live Chat</u></a
              >&nbsp;&nbsp;
            </li>
            <div id="status"></div>
          </span>
        </div>
        <ul class="tpn">
          {% if settings.show_multiple_currencies %}
            <li class="dropdown">{% render 'currencies-switcher' %}</li>
          {% endif %}
          <script>
            function toggleshow(canShow = true) {
              $zoho.salesiq.floatwindow.visible(canShow ? 'show' : 'hide');
            }
          </script>
          <script src="https://kit.fontawesome.com/596b2647e7.js" crossorigin="anonymous"></script>
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <li style="text-transform: capitalize;">Welcome {{ customer.first_name }}</li>
              <li><a href="/account">My Account</a></li>
              <li>
                <a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
              </li>
            {% else %}
              <li>
                <a href="/account">{{ 'customer.account.title' | t }}</a>
              </li>
            {% endif %}
          {% endif %}
          {% for link in linklists[settings.strip_linklist].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="row middle_bar no-gutters">
    {% if settings.enable_mobile_topbar %}
      <div class="top-line-wrapper {% if settings.enable_sticky_headerr == "two" %}{% unless settings.enable_mobile_sticky_topbar %} js-hide-when-scroll{% endunless %}{% endif %}">
        <div
          class="top--line mshop{% if settings.mobile_top_strip contains '$x' %} js-product-motivator-text{% endif %}"
          data-motivator-text="{{- settings.mobile_top_strip -}}"
        >
          <span class="mobile_bar_shipping_text{% if settings.mobile_top_strip contains '$x' %} js-product-motivator-text-main{% endif %}">
            {{- settings.mobile_top_strip -}}
          </span>
          {% if settings.enable_banner_user_country %}
            <span class="js-country-name"></span>&nbsp;<span class="js-country-flag"></span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="menu-btn {% if template == "cartt" %}medium-down--hide large--hide{% endif %}">
        <a href="#menu" class="js-mobile-menu-toggle"><span class="fa-solid fa-bars"></span></a>
      </div>

      {% if settings.enable_header_search %}
        <div class="search js-search-bar-button{% if template == "cartsearcht" %} medium-down--hide large--hide{% endif %}{% if settings.mobile_search_options == 'two' %} js-show-mobile-when-scroll{% endif %}{% if settings.mobile_search_options == 'three' %} js-search-bar-button-focus{% endif %}">
          {% if settings.usesearchicon %}
            <img src="{{ 'searchicon.png' | asset_url }}" class="search_icon" width="55" height="55" loading="lazy">
          {% else %}
            <span class="fa-solid fa-search"></span>
          {% endif %}
        </div>
      {% endif %}
      <div class="noproclas col-md-3">
        <div class="row">
          <div class="logo">
            {% if settings.logo_use_image %}
              <a href="/" class="desktop-logo">
                {% if settings.logo_png != blank %}
                  <img
                    src="{{ settings.logo_png | img_url: 'master' }}"
                    class="img-responsive"
                    {% if settings.logo_max_width != '' %}
                      style="width:{{ settings.logo_max_width }}px"
                    {% endif %}
                    alt="{{ shop.name }}"
                    width="300"
                    height="300"
                    loading="lazy"
                  >
                {% else %}
                  <img
                    src="{{ 'logo.png' | asset_img_url: 'master' }}"
                    class="img-responsive"
                    {% if settings.logo_max_width != '' %}
                      style="width:{{ settings.logo_max_width }}px"
                    {% endif %}
                    alt="{{ shop.name }}"
                    width="300"
                    height="300"
                    loading="lazy"
                  >
                {% endif %}
              </a>
              <a href="/" class="mobile-logo">
                {% if settings.logo_png != blank %}
                  <img
                    src="{{ settings.logo_png | img_url: 'master' }}"
                    alt="{{ shop.name }}"
                    class="img-responsive"
                    width="190"
                    height="71"
                    loading="lazy"
                  >
                {% else %}
                  <img
                    src="{{ 'logo.png' | asset_url }}"
                    alt="{{ shop.name }}"
                    class="img-responsive"
                    width="190"
                    height="71"
                    loading="lazy"
                  >
                {% endif %}
              </a>
            {% else %}
              <a href="/">{{ shop.name }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="cart menu-btn">
        <a
          href="/cart"
          class="top-nav-link site-header__cart-toggle js-drawer-open-right"
          aria-controls="CartDrawer"
          aria-expanded="false"
          style="margin-top: 0;"
        >
          {% if settings.usecutomiconforcart == true %}
            <img
              src="{{ 'cart-alt.png' | asset_img_url: '60x' }}"
              class="cartimga"
              alt="Cart Icon"
              width="60"
              height="60"
              loading="lazy"
            >
          {% else %}
            <span
              class="fa-solid fa-shopping-cart{% unless  settings.enable_sticky_headerr == 'one' %} fa-shopping-cart--sticky-color{% endunless %}"
            ></span>
          {% endif %}
          <span class="CartCount{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span>
        </a>
      </div>
      <div class="{% if settings.enable_header_promotion or settings.deal_of_the_day_enabled %}col-lg-4 {% else %}col-lg-6 {% endif %}tabl">
        {% if settings.enable_header_search %}
          <div class="search_panel{% if settings.mobile_search_options == 'two' %} js-hide-mobile-when-scroll{% endif %}{% if settings.mobile_search_options == 'one' %} hidden{% endif %} js-search-bar-wrapper{% if settings.usesearchicon %} search_panel--padding{% endif %}">
            {% render 'search-bar' %}
          </div>
        {% endif %}
      </div>
      {% if settings.enable_header_promotion or settings.deal_of_the_day_enabled %}
        <div class="col-md-2 mob-hide no-padding">
          {% unless settings.deal_of_the_day_enabled %}
            <div class="header-promotion-image">
              <a href="{% if settings.header_promotion_link != '' %}{{ settings.header_promotion_link }}{% else %}javascript:void(0);{% endif %}">
                <img
                  src="{{ 'header_image.png' | asset_img_url: '440x' }}"
                  alt="Image of {{ shop.name | escape }}"
                  width="440"
                  height="440"
                  loading="lazy"
                >
              </a>
            </div>
          {% else %}
            {% render 'deal-of-the-day' %}
          {% endunless %}
        </div>
      {% endif %}
      <div class="col-md-3 mob-hide header__col-contact{% if settings.optionofphone == 'Standard' %} contact--show{% endif %}">
        {% if settings.enable_header_contact %}
          {% unless settings.optionofphone == 'Menu' %}
            <div class="contact">
              <ul>
                <li>
                  <a href="/pages/wishlist">
                    {% assign full_url = request.path %}
                    {% assign full_url = full_url | strip %}
                    {% if full_url contains '/wishlist' %}
                      <span class="fa-solid fa-heart fa-2xl icon-active"></span>
                    {% else %}
                      <span class="fa-solid fa-heart fa-2xl" style="color:#00446B;"></span>
                    {% endif %}
                  </a>
                </li>
                <li>
                  <a href="/account">
                    {% assign full_url = request.path %}
                    {% assign full_url = full_url | strip %}
                    {% if full_url contains '/account' %}
                      <span class="fa-solid fa-user fa-2xl icon-active"></span>
                    {% else %}
                      <span class="fa-solid fa-user fa-2xl" style="color:#00446B;"></span>
                    {% endif %}
                  </a>
                </li>
              </ul>
              {% comment %}
                <p class="hsit">{{ settings.header_question_line }}</p>
                {% capture content_for_phone_link %}
                  {% if settings.usecustomphoneicon %}
                    <img src="{{ 'phone-icon.png' | asset_img_url: '40x' }}" class="picon" alt="Phone Icon" width="40" height="40" loading="lazy" />
                  {% else %}
                    <span class="fa-solid fa-phone"  style="color:#00446B;"></span>
                  {% endif %}
                  {{ settings.header_phone }}
                {% endcapture %}
                <h5>
                  {% if settings.linkurlforphone %}
                    <a href="{{ settings.urlforphone }}">{{- content_for_phone_link -}}</a>
                  {% else %}
                    <a href="tel:{{ settings.header_phone }}">{{- content_for_phone_link -}}</a>
                  {% endif %}
                </h5>
                <p class="boe"><strong>{{ settings.header_time }}</strong></p>
              {% endcomment %}
            </div>
          {% endunless %}
        {% endif %}
        <div class="cartattnew">
          {% render 'cart-popup-header' %}
        </div>
      </div>
    </div>
  </div>
  <div class="row menu_bar no-gutters">
    <div class="container">
      <div class="menu{% if settings.showhighlightbar %} menu--show-highlight-bar{% endif %}{% if settings.alignment_of_nav == 'center' %} menu--center-mode{% endif %}">
        <ul>
          {% render "header-linklist" with header_linklist: section.settings.header_linklist_1 %}
          {% if section.settings.megamenu_custom_link_enable %}
            {%- liquid
              assign customLinkHTML = ''
            -%}
            {% for i in (1..8) %}
              {%- liquid
                assign custom_link_heading = 'megamenu_custom_link_' | append: i | append: '_text'
                assign custom_link_collection = 'megamenu_custom_link_' | append: i | append: '_collection'
              -%}
              {% if section.settings[custom_link_heading] != '' %}
                {% if section.settings[custom_link_collection] != '' %}
                  {% capture customLinkHTML %}
                    {{ customLinkHTML }}
                    <div class="section-wrapper-custom-links">
                      <p>
                        <a href="{{ section.settings[custom_link_collection] }}">{{ section.settings[custom_link_heading] }}
                          <span class="separator"> » </span>
                        </a>
                      </p>
                    </div>
                  {% endcapture %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if section.settings.enable_megamenu %}
            {% assign cnt = 0 %}
            {% for block in section.blocks %}
              {%- capture styles -%}
                --collection-grid-font-size: {{- block.settings.collection_grid_font_size -}};
                --collection-grid-font-style: {{- block.settings.collection_grid_font_style -}};
                --collection-grid-font-color: {{- block.settings.collection_grid_font_color -}};
              {%- endcapture -%}
              {%- assign styles = styles | strip_newlines -%}
              {%- liquid
                if cnt == 0
                  assign fa_icon = 'basket-shopping fa-shake'
                elsif cnt == 1
                  assign fa_icon = 'gifts fa-bounce'
                elsif cnt == 2
                  assign fa_icon = 'gift'
                elsif cnt == 3
                  assign fa_icon = 'utensils'
                elsif cnt == 4
                  assign fa_icon = 'building'
                else
                  assign fa_icon = 'shopping-bag'
                endif
              -%}
              {% assign cnt = cnt | plus: 1 %}
              {% if block.settings.megamenu_1_enable %}
                {%- liquid
                  assign totalEnable = 0
                  assign totalEnableValidate = 0
                  for j in (1..9)
                    assign submenu_heading = 'megamenu_1' | append: '_submenu_' | append: j | append: '_heading'
                    assign submenu_menu = 'megamenu_1' | append: '_submenu_' | append: j
                    if block.settings[submenu_menu] != ''
                      assign totalEnableValidate = totalEnableValidate | plus: 1
                    endif
                  endfor
                  assign menuprodlimit = 0
                  if totalEnableValidate == 1
                    assign menuprodlimit = 4
                  elsif totalEnableValidate == 2
                    assign menuprodlimit = 3
                  elsif totalEnableValidate == 3
                    assign menuprodlimit = 2
                  elsif totalEnableValidate == 5
                    assign menuprodlimit = 2
                  elsif totalEnableValidate == 6
                    assign menuprodlimit = 2
                  elsif totalEnableValidate == 7
                    assign menuprodlimit = 2
                  else
                    assign menuprodlimit = 2
                  endif
                -%}
                {% if block.settings.megamenu_1_collection %}
                  <li
                    aria-haspopup="true"
                    id="li-main-for-{% increment counter %}"
                    class="menu-dropdown-icon js-dropdown-menu-link"
                    style="{{- styles -}}"
                  >
                    <a
                      class="menu-open"
                      href="{% if block.settings.megamenulink %}{{ block.settings.megamenulink }}{% else %}#{% endif %}"
                    >
                      <span class="fa-solid fa-{{ fa_icon }}"></span>
                      {{ block.settings.title }}
                      <span class="fa-solid fa-angle-down" id="arrow-for-{% increment counter %}"></span>
                    </a>
                    <ul id="menu-for-{% increment counter %}" class="fulwidtht normal-sub menu-for">
                      <div class="mega_Wrap clearfix">
                        <div class="col-md-12 equal-line">
                          <div class="row">
                            <div class="menu-hei">
                              {% for link in linklists[block.settings.megamenu_1_linkcollection].links %}
                                {% if link.type == 'collection_link' %}
                                  {% assign collection = link.object %}
                                  <div class="col-md-2">
                                    <div>
                                      <div class="text-center">
                                        <a href="{{ collection.url }}" class="collection-grid-item__link">
                                          {% if collection.image %}
                                            {% assign src = collection.image | img_url: '300x' %}
                                          {% else %}
                                            {% assign src = collection.products.first.images.first | img_url: '300x' %}
                                          {% endif %}
                                          <img
                                            alt="{{ collection.title }}"
                                            src="{{ src }}"
                                            width="100"
                                            height="100"
                                            loading="lazy"
                                          >
                                          <div class="collection-grid-item__title-wrapper">
                                            <h3 class="navcol">
                                              {{ collection.title }}
                                            </h3>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </ul>
                  </li>
                {% else %}
                  <li
                    aria-haspopup="true"
                    id="li-main-for-{% increment counter %}"
                    class="menu-dropdown-icon js-dropdown-menu-link"
                  >
                    <a class="menu-open" href="{{ block.settings.megamenulink }}">
                      <span class="fa-solid fa-{{fa_icon}}"></span>
                      {{ block.settings.title }}
                      <span class="fa-solid fa-angle-down" id="arrow-for-{% increment counter %}"></span>
                    </a>
                    <ul class="menu-for" id="menu-for-{% increment counter %}">
                      <div class="mega_Wrap clearfix">
                        <div class="{% if block.settings.megamenu_1_default_collection != "" %}  {% if menuprodlimit == 4 %} col-md-4 {% elsif menuprodlimit == 3 %} col-md-5  {% else %}col-md-7{% endif %} {% else %} col-md-12 noborderr{% endif %} equal-line mega_left_bar">
                          <div class="row">
                            <div class="menu-hei n">
                              {% for j in (1..9) %}
                                {%- liquid
                                  assign submenu_heading = 'megamenu_1' | append: '_submenu_' | append: j | append: '_heading'
                                  assign submenu_heading_link = 'megamenu_1' | append: '_submenu_' | append: j | append: '_heading_link'
                                  assign submenu_menu = 'megamenu_1' | append: '_submenu_' | append: j
                                -%}
                                {% if block.settings[submenu_menu] != '' %}
                                  <div class="{% if block.settings.megamenu_1_default_collection != "" %}  {% if menuprodlimit == 4 %} col-md-8 {% elsif menuprodlimit == 3 %} col-md-6 {% else %}col-md-4{% endif %} {% else %}col-md-3{% endif %}">
                                    <div class="media">
                                      {% if block.settings[submenu_menu] != '' %}
                                        {% assign totalEnable = totalEnable | plus: 1 %}
                                        {% if block.settings[submenu_heading] != blank
                                          and block.settings.megamenu_1_icon_enable
                                        %}
                                          {% capture icon_c %}m_1_s_{{ j }}_i{% endcapture %}
                                          <div class="media-left">
                                            <img
                                              src="{{ block.settings[icon_c] | img_url: '100x' }}"
                                              data-src="{{ block.settings[icon_c] | img_url: '2048x' }}"
                                              data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                                              data-aspectratio="{{ block.settings[icon_c] | img_url: '2048x' }}"
                                              data-sizes="auto"
                                              data-parent-fit="contain"
                                              alt="{{ shop.name }}"
                                              class="lazyload media-object"
                                              width="100"
                                              height="100"
                                              loading="lazy"
                                            >
                                          </div>
                                        {% endif %}
                                        <div class="media-body">
                                          {% unless block.settings.hide_sub_menu_titles %}
                                            <h4>
                                              {% if block.settings[submenu_heading_link] != blank %}
                                                <a href="{{ block.settings[submenu_heading_link] }}">
                                                  {{ block.settings[submenu_heading] }}
                                                </a>
                                              {% else %}
                                                {{ block.settings[submenu_heading] }}
                                              {% endif %}
                                            </h4>
                                          {% endunless %}
                                          <ul>
                                            {% for link in linklists[block.settings[submenu_menu]].links %}
                                              <li>
                                                <a href="{{ link.url }}?custom={{ block.settings[submenu_heading] }}">
                                                  {{- link.title -}}
                                                </a>
                                              </li>
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if totalEnable == 0 %}
                                <script>
                                  window.addEventListener('load', () => {
                                    $(document).ready(function () {
                                      $('#menu-for-{% increment counter %}').remove();
                                      $('#arrow-for-{% increment counter %}').remove();
                                      $('#li-main-for-{% increment counter %}')
                                        .attr('aria-haspopup', '')
                                        .removeClass('menu-dropdown-icon');
                                    });
                                  });
                                </script>
                              {% endif %}
                            </div>
                            <ul class="custom-menu-links">
                              {% if customLinkHTML %}
                                <li class="megamenu--custom-links col-md-12">
                                  {{ customLinkHTML }}
                                </li>
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                        {% if block.settings.megamenu_1_default_collection != '' %}
                          <div class="{% if block.settings.megamenu_1_default_collection != "" %} {% if menuprodlimit == 4 %} col-md-8 {% elsif menuprodlimit == 3 %} col-md-7 {% else %}col-md-5 {% endif %} {% else %}  {% endif %} equal-line">
                            <div class="flex_item">
                              {% if block.settings.megamenu_1_default_collection != '' %}
                                {% assign holiday_title = block.settings.title %}
                                {% if holiday_title == 'HOLIDAYS' %}
                                  {% assign currentDate = 'now' | date: '%s' %}
                                  {% assign currentYear = 'now' | date: '%Y' %}

                                  {% comment %}  Valentines Day {% endcomment %}
                                  {% assign val_date = currentYear | append: '-02' | append: '-14' | date: '%Y-%m-%d' %}
                                  {% assign val_before_date = currentYear
                                    | append: '-01'
                                    | append: '-03'
                                    | date: '%s'
                                  %}
                                  {% assign val_after_date = currentYear | append: '-02' | append: '-14' | date: '%s' %}

                                  {% comment %}  St. Patricks Day  {% endcomment %}
                                  {% assign st_date = currentYear | append: '-03' | append: '-17' | date: '%Y-%m-%d' %}
                                  {% assign st_before_date = currentYear | append: '-02' | append: '-16' | date: '%s' %}
                                  {% assign st_after_date = currentYear | append: '-03' | append: '-18' | date: '%s' %}

                                  {% comment %}  EASTER  {% endcomment %}
                                  {% assign eas_date = currentYear | append: '-03' | append: '-31' | date: '%Y-%m-%d' %}
                                  {% assign eas_before_date = currentYear
                                    | append: '-02'
                                    | append: '-15'
                                    | date: '%s'
                                  %}
                                  {% if currentYear == 2023 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-09'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2024 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-03'
                                      | append: '-31'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2025 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-20'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2026 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-05'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2027 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-03'
                                      | append: '-28'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2028 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-16'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2029 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-01'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2030 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-21'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2031 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-04'
                                      | append: '-13'
                                      | date: '%s'
                                    %}
                                  {% elsif currentYear == 2032 %}
                                    {% assign eas_after_date = currentYear
                                      | append: '-03'
                                      | append: '-28'
                                      | date: '%s'
                                    %}
                                  {% else %}
                                    {% assign eas_after_date = eas_date | date: '%s' | plus: 86400 | date: '%s' %}
                                  {% endif %}

                                  {% comment %}  MOTHERS DAY  {% endcomment %}
                                  {% assign month = 5 %}
                                  {% assign day_of_week = 0 %}
                                  {% assign week_number = 2 %}

                                  {% assign first_day = currentYear
                                    | append: '-'
                                    | append: month
                                    | append: '-01'
                                    | date: '%u'
                                  %}
                                  {% assign date_offset = day_of_week | minus: first_day | plus: 14 %}

                                  {% assign offer = 86400 | times: date_offset %}
                                  {% assign date = currentYear | append: '-05-' | append: '01' | date: '%Y-%m-%d' %}
                                  {% assign final_date = date | date: '%s' | plus: offer | date: '%Y-%m-%d' %}

                                  {% assign mother_date = final_date | date: '%Y-%m-%d' %}
                                  {% assign mother_before_date = eas_after_date
                                    | date: '%s'
                                    | plus: 86400
                                    | date: '%s'
                                  %}
                                  {% assign mother_after_date = mother_date | date: '%s' | plus: 86400 | date: '%s' %}

                                  {% comment %}  FATHERS DAY  {% endcomment %}
                                  {% assign month = 6 %}
                                  {% assign day_of_week = 0 %}
                                  {% assign week_number = 3 %}

                                  {% assign first_day = currentYear
                                    | append: '-'
                                    | append: month
                                    | append: '-01'
                                    | date: '%u'
                                  %}
                                  {% assign date_offset = day_of_week | minus: first_day | plus: 21 %}

                                  {% assign offer = 86400 | times: date_offset %}
                                  {% assign date = currentYear | append: '-06-' | append: '01' | date: '%Y-%m-%d' %}
                                  {% assign final_date = date | date: '%s' | plus: offer | date: '%Y-%m-%d' %}

                                  {% assign father_date = final_date | date: '%Y-%m-%d' %}
                                  {% assign father_before_date = mother_after_date
                                    | date: '%s'
                                    | plus: 86400
                                    | date: '%s'
                                  %}
                                  {% assign father_after_date = father_date | date: '%s' | plus: 86400 | date: '%s' %}

                                  {% comment %}  4TH OF JULY  {% endcomment %}
                                  {% assign ind_date = currentYear | append: '-07' | append: '-04' | date: '%Y-%m-%d' %}
                                  {% assign ind_before_date = father_after_date
                                    | date: '%s'
                                    | plus: 86400
                                    | date: '%s'
                                  %}
                                  {% assign ind_after_date = currentYear | append: '-07' | append: '-05' | date: '%s' %}

                                  {% comment %}  SCHOOL  {% endcomment %}
                                  {% assign school_date = currentYear
                                    | append: '-08'
                                    | append: '-01'
                                    | date: '%Y-%m-%d'
                                  %}
                                  {% assign school_before_date = currentYear
                                    | append: '-08'
                                    | append: '-01'
                                    | date: '%s'
                                  %}
                                  {% assign school_after_date = currentYear
                                    | append: '-08'
                                    | append: '-31'
                                    | date: '%s'
                                  %}

                                  {% comment %}  Gourmet   {% endcomment %}
                                  {% assign gourmet_date = currentYear
                                    | append: '-09'
                                    | append: '-01'
                                    | date: '%Y-%m-%d'
                                  %}
                                  {% assign gourmet_before_date = currentYear
                                    | append: '-09'
                                    | append: '-01'
                                    | date: '%s'
                                  %}
                                  {% assign gourmet_after_date = currentYear
                                    | append: '-09'
                                    | append: '-30'
                                    | date: '%s'
                                  %}

                                  {% comment %}  HALLOWEEN  {% endcomment %}
                                  {% assign hall_date = currentYear
                                    | append: '-10'
                                    | append: '-31'
                                    | date: '%Y-%m-%d'
                                  %}
                                  {% assign hall_before_date = currentYear
                                    | append: '-10'
                                    | append: '-01'
                                    | date: '%s'
                                  %}
                                  {% assign hall_after_date = currentYear
                                    | append: '-10'
                                    | append: '-31'
                                    | date: '%s'
                                  %}

                                  {% comment %}  THANKSGIVING   {% endcomment %}

                                  {% assign month = 11 %}
                                  {% assign day_of_week = 4 %}
                                  {% assign week_number = 4 %}

                                  {% assign first_day = currentYear
                                    | append: '-'
                                    | append: month
                                    | append: '-01'
                                    | date: '%u'
                                  %}
                                  {% assign date_offset = day_of_week | minus: first_day | plus: 28 %}

                                  {% assign offer = 86400 | times: date_offset %}
                                  {% assign date = currentYear | append: '-11-' | append: '01' | date: '%Y-%m-%d' %}
                                  {% assign final_date = date | date: '%s' | plus: offer | date: '%Y-%m-%d' %}

                                  {% assign thank_date = final_date | date: '%Y-%m-%d' %}
                                  {% assign thank_before_date = currentYear
                                    | append: '-11'
                                    | append: '-01'
                                    | date: '%s'
                                  %}
                                  {% assign thank_after_date = currentYear
                                    | append: '-11'
                                    | append: '-25'
                                    | date: '%s'
                                  %}

                                  {% comment %}  CHRISTMAS   {% endcomment %}
                                  {% assign chris_date = currentYear
                                    | append: '-12'
                                    | append: '-25'
                                    | date: '%Y-%m-%d'
                                  %}
                                  {% assign chris_before_date = currentYear
                                    | append: '-11'
                                    | append: '-26'
                                    | date: '%s'
                                  %}
                                  {% assign chris_after_date = currentYear
                                    | append: '-12'
                                    | append: '-25'
                                    | date: '%s'
                                  %}

                                  {% comment %}  NEW YEARS   {% endcomment %}
                                  {% assign new_before_date = currentYear
                                    | append: '-12'
                                    | append: '-26'
                                    | date: '%s'
                                  %}
                                  {% assign new_after_date = new_before_date | date: '%s' | plus: 691200 | date: '%s' %}

                                  {% if currentDate >= val_before_date and currentDate <= val_after_date %}
                                    {% assign collection_title = 'Valentines Day' %}
                                  {% elsif currentDate >= eas_before_date and currentDate <= eas_after_date %}
                                    {% assign collection_title = 'Easter' %}
                                  {% elsif currentDate >= st_before_date and currentDate <= st_after_date %}
                                    {% assign collection_title = 'St. Patricks Day' %}
                                  {% elsif currentDate >= mother_before_date and currentDate <= mother_after_date %}
                                    {% assign collection_title = "Mother's Day" %}
                                  {% elsif currentDate >= father_before_date and currentDate <= father_after_date %}
                                    {% assign collection_title = "Father's Day" %}
                                  {% elsif currentDate >= school_before_date and currentDate <= school_after_date %}
                                    {% assign collection_title = 'Back to School' %}
                                  {% elsif currentDate >= gourmet_before_date and currentDate <= gourmet_after_date %}
                                    {% assign collection_title = 'Gourmet' %}
                                    {% comment %}
                                      {% elsif currentDate >= ind_before_date and currentDate <= ind_after_date %}
                                      {% assign collection_title = '4TH OF JULY' %}
                                    {% endcomment %}
                                  {% elsif currentDate >= hall_before_date and currentDate <= hall_after_date %}
                                    {% assign collection_title = 'Halloween' %}
                                  {% elsif currentDate >= thank_before_date and currentDate <= thank_after_date %}
                                    {% assign collection_title = 'Thanksgiving/Fall' %}
                                  {% elsif currentDate >= chris_before_date and currentDate <= chris_date %}
                                    {% assign collection_title = 'Christmas' %}
                                  {% elsif currentDate >= new_before_date and currentDate <= new_date %}
                                    {% assign collection_title = 'New Years Gift Baskets' %}
                                  {% else %}
                                    {% assign collection_title = 'Gourmet' %}
                                  {% endif %}
                                  {% for collection in collections %}
                                    {% if collection.title == collection_title %}
                                      {% assign current_collection = collection %}
                                    {% endif %}
                                  {% endfor %}
                                  {% capture index %}{{ 'now' | date: '%S' | times: current_collection.products.size | divided_by: 60 }}{% endcapture %}
                                  {% for product in current_collection.products offset: index limit: 2 %}
                                    <div class="{% if menuprodlimit == 4 %} col-md-3 {% elsif menuprodlimit == 3 %} col-md-3 {% else %}col-md-6 {% endif %}">
                                      {% render 'product-grid-navigation' with product: product %}
                                    </div>
                                  {% endfor %}
                                {% else %}
                                  {% capture index %}{{ 'now' | date: '%S' | times: collections[block.settings.megamenu_1_default_collection].products.size | divided_by: 60 }}{% endcapture %}
                                  {% for product in collections[block.settings.megamenu_1_default_collection].products
                                    offset: index
                                    limit: 2
                                  %}
                                    <div class="{% if menuprodlimit == 4 %} col-md-3 {% elsif menuprodlimit == 3 %} col-md-3 {% else %}col-md-6 {% endif %}">
                                      {% render 'product-grid-navigation' with product: product %}
                                    </div>
                                  {% endfor %}
                                {% endif %}
                              {% endif %}
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </ul>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% render "header-linklist" with header_linklist: section.settings.header_linklist_2 %}
        </ul>
      </div>
      {% if settings.enable_header_contact %}
        {% unless settings.optionofphone == 'Standard' %}
          {% capture content_for_phone_link %}
            {% if settings.usecustomphoneicon %}
              <img src="{{ 'phone-icon.png' | asset_img_url: '40x' }}" class="picon" alt="Phone Icon" width="40" height="40" loading="lazy" />
            {% else %}
      		  <span class="fa-solid fa-phone"></span>
            {% endif %}
            {{ settings.header_phone }}
          {% endcapture %}
          <div class="menu-right{% if settings.optionofphone == 'Menu' %} menu-right--show{% endif %}">
            <ul>
              <li class="header_time">{{ settings.header_time }}</li>
              <li class="header_phone">
                {% if settings.linkurlforphone %}
                  <a href="{{ settings.urlforphone }}">
                    {{- content_for_phone_link -}}
                  </a>
                {% else %}
                  <a href="tel:{{ settings.header_phone }}">
                    {{- content_for_phone_link -}}
                  </a>
                {% endif %}
              </li>
            </ul>
          </div>
        {% endunless %}
      {% endif %}
    </div>
  </div>
  {%- liquid
    assign stickyEnable = false
    if settings.sticky_bar_method == 'site'
      assign stickyEnable = true
    else
      if template == 'product'
        for tag in product.tags
          assign tag = tag | downcase
          if tag == 'sticky-header-bar'
            assign stickyEnable = true
          endif
        endfor
      endif
    endif
  -%}
  {% if stickyEnable and settings.sticky_bar_text != blank %}
    {% if settings.enable_sticky_bar or settings.enable_sticky_bar_mobile %}
      {%- liquid
        assign stickybarenable = ''
        assign stickybarenableinmobile = ''
        if settings.enable_sticky_bar == false
          assign stickybarenable = ' large--hide'
        endif
        if settings.enable_sticky_bar_mobile == false
          assign stickybarenableinmobile = ' medium-down--hide'
        endif
      -%}
      <div
        class="sticky_bar{{ stickybarenable }}{{ stickybarenableinmobile }}{% if settings.sticky_bar_text contains '$x' %} js-product-motivator-text{% endif %}"
        data-motivator-text="{{- settings.sticky_bar_text -}}"
        {% if settings.free_shipping_sticky_bar_text != blank %}
          data-free-shipping-text="{{- settings.free_shipping_sticky_bar_text -}}"
        {% endif %}
      >
        <div class="popup-header-bar sticky_bar_text{% if settings.sticky_bar_text contains '$x' %} js-product-motivator-text-main{% endif %}">
          {{- settings.sticky_bar_text -}}
        </div>
        &nbsp;
        {% if settings.enable_sticky_bar_timer %}
          <div
            class="sticky_bar_timer hidden js-sticky-bar-timer"
            data-cutoff="{{ settings.sticky_bar_timer_cutoff }}"
            data-reset="{{ settings.sticky_bar_reset }}"
          >
            <span class="js-days"></span> : <span class="js-hours"></span> : <span class="js-minutes"></span> :
            <span class="js-seconds"></span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</header>
<div class="hidden">
  <nav id="menu">
    <button id="mmmenu-close-button" type="button" class="ger icon-fallback-text">
      <span class="fas fa-times" aria-hidden="true"></span>
      <span class="fallback-text">Close Menu</span>
    </button>
    <ul>
      {% render "header-linklist-mobile" with header_linklist: section.settings.header_linklist_1 %}
      {% if section.settings.megamenu_custom_link_enable %}
        {%- liquid
          assign customLinkHTML = ''
        -%}
        {% for i in (1..6) %}
          {%- liquid
            assign custom_link_heading = 'megamenu_custom_link_' | append: i | append: '_text'
            assign custom_link_collection = 'megamenu_custom_link_' | append: i | append: '_collection'
          -%}
          {% if section.settings[custom_link_heading] != '' %}
            {% if section.settings[custom_link_collection] != '' %}
              {% capture customLinkHTML %}
                {{ customLinkHTML }}
                <div class="section-wrapper-custom-links">
                  <p>
                    <a href="{{ section.settings[custom_link_collection] }}">{{ section.settings[custom_link_heading] }}
                      <span class="separator"> » </span>
                    </a>
                  </p>
                </div>
              {% endcapture %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if section.settings.enable_megamenu %}
        {% for block in section.blocks %}
          {% if block.settings.megamenu_1_collection %}
            <li>
              <span>{{ block.settings.title }}</span>
              <ul class="collection_menu_grid">
                {% for link in linklists[block.settings.megamenu_1_linkcollection].links %}
                  {% if link.type == 'collection_link' %}
                    {% assign collection = link.object %}
                    <li class="collection_grid_list">
                      <a href="{{ collection.url }}">
                        {%- liquid
                          if collection.image
                            assign src = collection.image | img_url: '200x'
                          else
                            assign src = collection.products.first.images.first | img_url: '200x'
                          endif
                        -%}
                        <img
                          src="{{ src }}"
                          alt="{{ collection.title }}"
                          class="img-responsive"
                          width="100"
                          height="100"
                          loading="lazy"
                        >
                        <p>{{ collection.title }}</p>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            {% if block.settings.megamenu_1_enable_mob %}
              {%- liquid
                assign totalEnable = 0
                assign totalEnableValidate = 0
                for j in (1..9)
                  assign submenu_heading = 'megamenu_1' | append: '_submenu_' | append: j | append: '_heading'
                  assign submenu_menu = 'megamenu_1' | append: '_submenu_' | append: j
                  if block.settings[submenu_menu] != ''
                    assign totalEnableValidate = totalEnableValidate | plus: 1
                  endif
                endfor
                assign menuprodlimit = 0
                if totalEnableValidate == 1
                  assign menuprodlimit = 3
                elsif totalEnableValidate == 2
                  assign menuprodlimit = 2
                elsif totalEnableValidate == 3
                  assign menuprodlimit = 1
                elsif totalEnableValidate == 5
                  assign menuprodlimit = 3
                elsif totalEnableValidate == 6
                  assign menuprodlimit = 2
                elsif totalEnableValidate == 7
                  assign menuprodlimit = 1
                else
                  assign menuprodlimit = 0
                endif
              -%}
              <li>
                <span>{{ block.settings.title }}</span>
                <ul>
                  {% for j in (1..9) %}
                    {%- liquid
                      assign submenu_heading = 'megamenu_1' | append: '_submenu_' | append: j | append: '_heading'
                      assign submenu_heading_link = 'megamenu_1' | append: '_submenu_' | append: j | append: '_heading_link'
                      assign submenu_menu = 'megamenu_1' | append: '_submenu_' | append: j
                    -%}
                    {% if block.settings[submenu_menu] != '' %}
                      {%- liquid
                        assign totalEnable = totalEnable | plus: 1
                      -%}
                      {% if block.settings[submenu_heading] != '' %}
                        {% unless block.settings.hide_sub_menu %}
                          <li class="{{ block.settings[submenu_menu] }}">
                            {% if block.settings[submenu_heading_link] != blank %}
                              <span>
                                <a class="super-collection-link" href="{{ block.settings[submenu_heading_link] }}">
                                  {{ block.settings[submenu_heading] }}
                                </a>
                              </span>
                            {% else %}
                              <span>{{ block.settings[submenu_heading] }}</span>
                            {% endif %}
                            <ul>
                        {% else %}
                          {% unless block.settings.hide_sub_menu_titles %}
                            <li class="mobile-sub-title {{ block.settings[submenu_menu] }}">
                              <a style="text-align: center;" href="{{ block.settings[submenu_heading_link] }}"
                                ><b>{{ block.settings[submenu_heading] }}</b></a
                              >
                            </li>
                          {% endunless %}
                        {% endunless %}
                        {% for link in linklists[block.settings[submenu_menu]].links %}
                          <li>
                            <a href="{{ link.url }}?custom={{ block.settings[submenu_heading] }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                        {% unless block.settings.hide_sub_menu %}
                          </ul>
                          </li>
                        {% endunless %}
                      {% else %}
                        {% for link in linklists[block.settings[submenu_menu]].links %}
                          <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {%- liquid
        render "header-linklist-mobile" with header_linklist: section.settings.header_linklist_2
      -%}
      {% unless settings.show_currency_in_search_mob %}
        {% if settings.show_multiple_currencies %}
          {% if settings.currency_type == 'default' %}
            {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,ILS,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
            {% assign supported_codes = settings.supported_currencies | split: ' ' %}
            <li class="bigwidth">
              <span class="selected--currency-flag">
                {% for code in supported_codes %}
                  {% assign file_extensionn = 'svg' %}
                  {% comment %}theme-check-disable RemoteAsset{% endcomment %}
                  {% if code == 'ANG' %}
                    <img
                      src="//shoptimized.net/icons/ad.svg"
                      class="country--flag {{ code }}"
                      alt="{{ code }}"
                      width="24"
                      height="18"
                      loading="lazy"
                    >
                  {% elsif code == 'JEP' %}
                    <img
                      src="//shoptimized.net/icons/je.svg"
                      class="country--flag {{ code }}"
                      alt="{{ code }}"
                      width="24"
                      height="18"
                      loading="lazy"
                    >
                  {% else %}
                    <img
                      src="//shoptimized.net/icons/{{ code | slice: 0, 2 | handle | append: '.' | append: file_extensionn }}"
                      class="country--flag {{ code }}"
                      alt="{{ code }}"
                      width="24"
                      height="18"
                      loading="lazy"
                    >
                  {% endif %}
                  {% comment %}theme-check-enable RemoteAsset{% endcomment %}
                {% endfor %}
              </span>
              <span class="selectedvalue"></span>
              <ul class="andree">
                {% for code in supported_codes %}
                  <li data-value="{{ code }}">
                    <a>
                      {% assign file_extensionn = 'svg' %}
                      {% comment %}theme-check-disable RemoteAsset{% endcomment %}
                      {% if code == 'ANG' %}
                        <img
                          src="//shoptimized.net/icons/ad.svg"
                          class="country--flag {{ code }}"
                          alt="{{ code }}"
                          width="24"
                          height="18"
                          loading="lazy"
                        >
                      {% elsif code == 'JEP' %}
                        <img
                          src="//shoptimized.net/icons/je.svg"
                          class="country--flag {{ code }}"
                          alt="{{ code }}"
                          width="24"
                          height="18"
                          loading="lazy"
                        >
                      {% else %}
                        <img
                          src="//shoptimized.net/icons/{{ code | slice: 0, 2 | handle | append: '.' | append: file_extensionn }}"
                          class="country--flag {{ code }}"
                          alt="{{ code }}"
                          width="24"
                          height="18"
                          loading="lazy"
                        >
                      {% endif %}
                      {% comment %}theme-check-enable RemoteAsset{% endcomment %}
                      {{ code }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="bigwidth">
              <span class="selected--currency-flag">
                {% for currency in shop.enabled_currencies %}
                  {% assign file_extensionn = 'svg' %}
                  <img
                    src="{{ currency.iso_code | slice: 0, 2 | handle | append: '.' | append: file_extensionn | asset_url }}"
                    width="24"
                    height="18"
                    class="country--flag {{ currency.iso_code }}"
                    alt="{{ currency.iso_code }}"
                    width="24"
                    height="18"
                    loading="lazy"
                  >
                {% endfor %}
              </span>
              <span class="selectedvalue"></span>
              <ul class="andree">
                {% for currency in shop.enabled_currencies %}
                  <li data-value="{{ currency.iso_code }}">
                    <a>
                      {% assign file_extensionn = 'svg' %}
                      <img
                        src="{{ currency.iso_code | slice: 0, 2 | handle | append: '.' | append: file_extensionn | asset_url }}"
                        width="24"
                        height="18"
                        class="country--flag {{ currency.iso_code }}"
                        alt="{{ currency.iso_code }}"
                        width="24"
                        height="18"
                        loading="lazy"
                      >
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endif %}
      {% endunless %}
      {% if settings.enabletopnavonmobile %}
        {% for link in linklists[settings.strip_linklist].links %}
          <li
            {% if link.active %}
              class="site-nav--active"
            {% endif %}
          >
            <a class="site-nav__linkk" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      {% endif %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <!-- <li style="text-transform: capitalize;">Welcome {{ customer.first_name }}</li> -->
          <li><a href="/account">My Account</a></li>
          <li>
            <a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
          </li>
        {% else %}
          <li>
            <a href="/account">{{ 'customer.account.title' | t }}</a>
          </li>
        {% endif %}
      {% endif %}
      {% if settings.deal_of_the_day_enabled and settings.deal_of_the_day_start_date != blank %}
        <li class="deal-of-the-day-menu-item">
          {% render 'deal-of-the-day' %}
        </li>
      {% endif %}
      {% if settings.enable_header_contact %}
        <li class="center menu-contact">
          <p class="hsit">
            {{ settings.header_question_line }}
          </p>
          <h5>
            {% comment %}
              <a href="tel:{{ settings.header_phone }}">
                {% if settings.usecustomphoneicon == true %}
                  <img src="{{ 'phone-icon.png' | asset_img_url: '60x' }}" class="picon" alt="Phone Icon" width="60" height="60" loading="lazy" />
                {% else %}
                	<span class="fa-solid fa-phone"></span>
                {% endif %}
                {{ settings.header_phone }}
              </a>
            {% endcomment %}
            <a onclick="toggleshow()" class="chat">
              <u>{{ settings.header_phone }}</u>
            </a>
          </h5>
          <p>
            <strong>{{ settings.header_time }}</strong>
          </p>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% schema %}
{
  "name": "Menu",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "Main Header Navigation Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_megamenu",
      "label": "Use Megamenu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_product_price",
      "label": "Display Title and Price Of Product in Default Collection",
      "default": false
    },
    {
      "type": "link_list",
      "id": "header_linklist_1",
      "label": "First Main Menu",
      "info": "This menu displays before Megamenu.",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "header_linklist_2",
      "label": "Last Main Menu",
      "info": "This menu displays after Megamenu."
    },
    {
      "type": "header",
      "content": "Custom Links"
    },
    {
      "type": "checkbox",
      "id": "megamenu_custom_link_enable",
      "label": "Show In Megamenu"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_1_text",
      "label": "First Custom Link Heading",
      "default": "Gift Cards"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_1_collection",
      "label": "First Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_2_text",
      "label": "Second Custom Link Heading",
      "default": "Free Gift"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_2_collection",
      "label": "Second Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_3_text",
      "label": "Third Custom Link Heading",
      "default": "Custom Link 3"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_3_collection",
      "label": "Third Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_4_text",
      "label": "Fourth Custom Link Heading",
      "default": "Custom Link 4"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_4_collection",
      "label": "Fourth Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_5_text",
      "label": "Fifth Custom Link Heading",
      "default": "Custom Link 5"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_5_collection",
      "label": "Fifth Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_6_text",
      "label": "Sixth Custom Link Heading",
      "default": "Custom Link 6"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_6_collection",
      "label": "Sixth Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_7_text",
      "label": "Seventh Custom Link Heading",
      "default": "Custom Link 7"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_7_collection",
      "label": "Seventh Custom Link"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_8_text",
      "label": "Eight Custom Link Heading",
      "default": "Custom Link 8"
    },
    {
      "type": "text",
      "id": "megamenu_custom_link_8_collection",
      "label": "Eight Custom Link"
    }
  ],
  "blocks": [
    {
      "type": "Mega-Menu",
      "name": "Megamenu",
      "settings": [
        {
          "type": "checkbox",
          "id": "megamenu_1_enable",
          "label": "Enable Megamenu on desktop"
        },
        {
          "type": "checkbox",
          "id": "megamenu_1_enable_mob",
          "label": "Enable Megamenu on mobile"
        },
        {
          "type": "checkbox",
          "id": "hide_sub_menu",
          "label": "Hide sub menu step on mobile mega menu",
          "info": "(useful if you don't have many navigation items on your mega menu)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_sub_menu_titles",
          "label": "Hide navigation titles",
          "info": "(can be useful when the sub menu step is hidden)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "megamenu_1_collection",
          "label": "Enable Megamenu as Collection Grid Only"
        },
        {
          "type": "select",
          "id": "collection_grid_font_size",
          "label": "Collection grid Font Size",
          "options": [
            {
              "value": "14px",
              "label": "14px"
            },
            {
              "value": "15px",
              "label": "15px"
            },
            {
              "value": "16px",
              "label": "16px"
            },
            {
              "value": "17px",
              "label": "17px"
            },
            {
              "value": "18px",
              "label": "18px"
            },
            {
              "value": "19px",
              "label": "19px"
            },
            {
              "value": "20px",
              "label": "20px"
            }
          ],
          "default": "17px"
        },
        {
          "type": "select",
          "id": "collection_grid_font_style",
          "label": "Collection grid Font Style",
          "options": [
            {
              "value": "300",
              "label": "Lighter",
              "group": "Font Style"
            },
            {
              "value": "400",
              "label": "Normal",
              "group": "Font Style"
            },
            {
              "value": "600",
              "label": "Bold",
              "group": "Font Style"
            },
            {
              "value": "700",
              "label": "Bolder",
              "group": "Font Style"
            }
          ],
          "default": "400"
        },
        {
          "type": "color",
          "id": "collection_grid_font_color",
          "label": "Collection grid Font Color"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_linkcollection",
          "label": "Select navigation  for collection list"
        },
        {
          "type": "checkbox",
          "id": "megamenu_1_icon_enable",
          "label": "Display Menu Icons Next to Submenu Headings"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Text",
          "default": "Shop"
        },
        {
          "type": "url",
          "id": "megamenulink",
          "label": "Megamenu Link Url"
        },
        {
          "type": "collection",
          "id": "megamenu_1_default_collection",
          "label": "Default Collection (Choose Collection to Show Products in Mega Menu)"
        },
        {
          "type": "header",
          "content": "First Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_1_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_1_heading",
          "label": "First Submenu Heading",
          "default": "Womens Clothing"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_1_heading_link",
          "label": "First Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_1",
          "label": "First Submenu"
        },
        {
          "type": "header",
          "content": "Second Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_2_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_2_heading",
          "label": "Second Submenu Heading",
          "default": "Mens Clothing"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_2_heading_link",
          "label": "Second Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_2",
          "label": "Second Submenu"
        },
        {
          "type": "header",
          "content": "Third Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_3_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_3_heading",
          "label": "Third Submenu Heading",
          "default": "Don't Miss"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_3_heading_link",
          "label": "Third Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_3",
          "label": "Third Submenu"
        },
        {
          "type": "header",
          "content": "Fourth Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_4_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_4_heading",
          "label": "Fourth Submenu Heading",
          "default": "Costumes"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_4_heading_link",
          "label": "Fourth Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_4",
          "label": "Fourth Submenu"
        },
        {
          "type": "header",
          "content": "Fifth Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_5_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_5_heading",
          "label": "Fifth Submenu Heading",
          "default": "Submenu 5"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_5_heading_link",
          "label": "Fifth Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_5",
          "label": "Fifth Submenu"
        },
        {
          "type": "header",
          "content": "Sixth Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_6_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_6_heading",
          "label": "Sixth Submenu Heading",
          "default": "Submenu 6"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_6_heading_link",
          "label": "Sixth Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_6",
          "label": "Sixth Submenu"
        },
        {
          "type": "header",
          "content": "Seventh Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_7_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_7_heading",
          "label": "Seventh Submenu Heading",
          "default": "Submenu 7"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_7_heading_link",
          "label": "Seventh Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_7",
          "label": "Seventh Submenu"
        },
        {
          "type": "header",
          "content": "Eighth Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_8_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_8_heading",
          "label": "Eighth Submenu Heading",
          "default": "Submenu 8"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_8_heading_link",
          "label": "Eighth Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_8",
          "label": "Eighth Submenu"
        },
        {
          "type": "header",
          "content": "Ninth Submenu"
        },
        {
          "type": "image_picker",
          "id": "m_1_s_9_i",
          "label": "Icon",
          "info": "less than 75 pixels wide and 75 pixels high"
        },
        {
          "type": "text",
          "id": "megamenu_1_submenu_9_heading",
          "label": "Ninth Submenu Heading",
          "default": "Submenu 9"
        },
        {
          "type": "url",
          "id": "megamenu_1_submenu_9_heading_link",
          "label": "Ninth Submenu Heading Link"
        },
        {
          "type": "link_list",
          "id": "megamenu_1_submenu_9",
          "label": "Ninth Submenu"
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %}theme-check-enable RemoteAsset{% endcomment %}
{% comment %}theme-check-enable TemplateLength{% endcomment %}
