<div class="page-header-main  header-space">
  <div class="page-header-container">
    <div>
      <h1 class="page-heading">{{ page.title }}</h1>
      
      {% render 'breadcrumb' %}
    </div>
  </div>
  <div class="container">
  <div class="page-content-box">
      <div class="rte content-section">
       
        <div class="page-content">
            {{ page.content }}
          <div class="cnt-head">
            <h2 class="content-heading">{{ section.settings.heading }}</h2>
          </div>
          <div class="cnt-text">
            {{ section.settings.content }}
          </div>
          <div class="btn-box">
            <a href="{{ section.settings.btnlink }}" download>{{ section.settings.btn }}</a>
          </div>
        </div>
    </div>
  
</div>
    </div>
</div>
{% schema %}
  {
    "name": "Page-Bulk Order",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button"
      },
      {
        "type": "url",
        "id": "btnlink",
        "label": "Button URL"
      }
    ]
  }
{% endschema %}
