<div class="tody">
<div class="container">
  <div class="tdybgn">
<div class="tody-bg">
<h2>{{ section.settings.heading }}</h2>

<a href="{{ section.settings.button_link }}">
  <div class="sttc-dv">
<div class="sttc-dv-lft">

     <img src="{{ section.settings.image-prdt | img_url: 'master' }}">
  </div>
    <div class="sttc-dv-rht">

    {{ section.settings.paragraph }}
    <h6>{{ section.settings.prc }}</h6>
  </div>
    
  </div>

</a>

  
</div>
  <div class="tody-bg tsy-bg-lft">
<h2 class="hdng">{{ section.settings.headings }}</h2>

    <div class="img-block">
      <div class="img-block-in">
       <img src="{{ section.settings.image1 | img_url: 'master' }}">
    </div>
      <div class="img-block-in">
       <img src="{{ section.settings.image2 | img_url: 'master' }}">
    </div>
      <div class="img-block-in">
       <img src="{{ section.settings.image3 | img_url: 'master' }}">
    </div>
      <div class="img-block-in">
       <img src="{{ section.settings.image4 | img_url: 'master' }}">
    </div>
      <div class="img-block-in">
       <img src="{{ section.settings.image5 | img_url: 'master' }}">
    </div>
    </div>
  
</div>
  </div>
</div>
  
</div>



{% schema %}
{
  "name": {
    "en": "today-special"
  },
  "class": "index-section",
  "settings": [
  
   {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
     }  
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Image with text"
      }
},
 {
      "type": "image_picker",
      "id": "image-prdt",
      "label": {
        "en": "Image"
         }
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text"
      }
    },
     {
      "type": "html",
      "id": "prc",
      "label": {
         "en": "Text"
      }
    },
    
    {
      "type": "text",
      "id": "headings",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Image with text"
      }
},
     {
      "type": "image_picker",
      "id": "image1",
      "label": {
        "en": "Image"
         }
    },
     {
      "type": "image_picker",
      "id": "image2",
      "label": {
        "en": "Image"
         }
    },
     {
      "type": "image_picker",
      "id": "image3",
      "label": {
        "en": "Image"
         }
    },
     {
      "type": "image_picker",
      "id": "image4",
      "label": {
        "en": "Image"
         }
    },
     {
      "type": "image_picker",
      "id": "image5",
      "label": {
        "en": "Image"
         }
    }
    
  ],

  "presets": [
    {
      "name": {
        "en": "today-special"
      },
      "category": {
        "en": "today-special"
      }
    }
  ]
}
{% endschema %}